:root {
  --main-bg-color: #f0f0f0;
  --main-text-color: #000000;
  --main-border-color: #797070;
  --main-border-radius: 5px;
  --main-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  --font-family: 'Roboto', sans-serif;
}
ul,
ol,
p {
  margin-block: 0;
  padding-inline: 0;
  margin-inline: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
